<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quarkus Internationalization Demo</title>
</head>
<body>
    <h1>Quarkus Internationalization Demo</h1>

    <h2>Language</h2>
    <p><a href="?lang=en">English</a> <a href="?lang=de">German</a></p>

    <h2>Simple String</h2>
    <p>Code: <code>\{i18n:hello\}</code>)</p>
    <p>Result: {i18n:hello}</p>

    <h2>Simple String With Dot</h2>
    <p>In Quarkus when using a dot in a property you have to put it in <code>['']</code></p>
    <p>Code: <code>\{i18n:['hello.simple']\}</code>)</p>
    <p>Result: {i18n:['hello.simple']}</p>

    <h2>String With Java Format</h2>
    <p>You can combine multiple namespaces to use the <code>str:format</code> in combination with the <code>i18n</code>
        namespace</p>
    <p>Code: <code>\{str:format(i18n:hello-str, name)\}</code>)</p>
    <p>Result: {str:format(i18n:hello-str, name)}</p>

    <h2>String With Message Format</h2>
    <p>You also create a namespace for the Java message format (not very performant because no caching is done).</p>
    <p>Code: <code>\{mf:format(i18n:['hello.with-format'], name)\}</code>)</p>
    <p>Result: {mf:format(i18n:['hello.with-format'], name)}</p>

    <h2>String With ICU Message Format</h2>
    <p>ICU message format is the standard way for translating complex messages (also not performant).</p>
    <p><strong>icu4j ist not compatible with native</strong></p>
    <p>Code: <code>\{icumf:format(i18n:['hello.with-icu-format'], name, age)\}</code>)</p>
    <p>Result: {icumf:format(i18n:['hello.with-icu-format'], name, age)}</p>
    <p>Result: {icumf:format(i18n:['hello.with-icu-format'], 'Qute', 1)}</p>

    <h2>Type-safe Message Bundles</h2>
    <p>Quarkus gives you a type-safe way to access messages which is really nice. But there are some problems:
    <ul>
        <li>there is no possibility for message format (you can use Qute template syntax as an alternative)</li>
        <li>because the default message is in the Java code translation tools cannot use them</li>
        <li>you cannot have dots in the message key</li>
    </ul>
    <p>Code: <code>\{msg:hello_name(name)\}</code>)</p>
    <p>Result: {msg:hello_name(name)}</p>
    <p>Code: <code>\{msg:hello_name_age(name, age)\}</code></p>
    <p>Result: {msg:hello_name_age(name, age)}</p>
</body>
</html>
